.about {
  background-color: #0a2850;
  padding: 100px 80px 173px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: #fff;
}

.about__title {
  max-width: 251px;
  z-index: 1;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.about__content {
  max-width: 660px;
  margin: 19px 0 0;
}

.about__paragraph {
  padding: 0 0 20px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-of-type {
  padding: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  background-color: #2f80ed;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}
